.card__heading {
  color: var(--text__color--heading2);
  border-bottom: solid 2px;
}
.card {
  border: solid black 2px;
  border-radius: 15px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
  background-color: var(--background__color__card);
  padding: 10px;
  margin: 20px;
  width: 80vw;
  display: grid;
}
.card__question {
  font-size: 1.2rem;
}
.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}
.tags__tag1 {
  background-color: aqua;
  padding: 5px;
  border-radius: 15%;
  margin: 5px;
  border: solid white;
}
.tags__tag2 {
  background-color: bisque;
  padding: 5px;
  border-radius: 15%;
  margin: 5px;
  border: solid white;
}
.tags__tag3 {
  background-color: blueviolet;
  padding: 5px;
  border-radius: 15%;
  margin: 5px;
  border: solid white;
}
.tags__tag4 {
  background-color: slategray;
  padding: 5px;
  border-radius: 15%;
  margin: 5px;
  border: solid white;
}
.card__bookmark__container {
  position: relative;
}
.card__bookmark {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -5px;
  top: -18px;
  z-index: 1;
}

.card__button--show {
  width: 200px;
}
