.card {
  border: solid white 1px;
  padding: 10px;
  margin: 10px;
}
.tags {
  list-style: none;
}
.tags__tag1 {
  padding: 0.5;
  background-color: aqua;
}
.tags__tag2 {
  padding: 0.5;
  background-color: bisque;
}
.tags__tag3 {
  padding: 0.5;
  background-color: blueviolet;
}
.tags__tag4 {
  padding: 0.5;
  background-color: slategray;
}
