.card__heading {
  color: var(--textcolor-heading2);
  border-bottom: solid 2px;
  text-align: center;
}

.card {
  border: solid var(--bordercolor) 2px;
  border-radius: 15px;
  box-shadow: 0 6px 8px rgba(0 0 0 / 50%);
  background-color: var(--backgroundcolor);
  padding: 20px;
  margin: 20px;
  width: 80vw;
  display: grid;
}

.card__question {
  font-size: 1.2rem;
  text-align: center;
}

.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.tags__tag1 {
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border: solid 2px var(--bordercolor);
}

.tags__tag2 {
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border: solid 2px var(--bordercolor);
}

.tags__tag3 {
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border: solid 2px var(--bordercolor);
}

.tags__tag4 {
  padding: 5px;
  border-radius: 10px;
  margin: 5px;
  border: solid 2px var(--bordercolor);
}

.card__bookmark__container {
  position: relative;
}

.card__bookmark {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -15px;
  top: -33px;
  z-index: 1;
}

.card__bookmarked {
  fill: var(--fillbookmarkcolor);
  stroke: var(--bordercolor);
  stroke-width: 60;
}

.card__show__container {
  display: flex;
  justify-content: center;

  /* shorthandflex-direction/flex-wrap */
  flex-flow: column wrap;
}

.card__showanswertext {
  border: solid 2px var(--bordercolor);
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
  font-size: 0.8rem;
  font-style: italic;
}

.hideanswer {
  display: none;
}

.card__button--show {
  width: 150px;
  margin: 1rem auto 0.5rem;
  padding: 0.5rem;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
  border: solid 2px var(--bordercolor);
  border-radius: 10px;
  background-color: var(--backgroundcolor);
}

.card__bookmarkbutton {
  background: none;
  border: none;
}

.card__bookmark--active {
  fill: var(--fillbookmarkcolor);
  stroke: var(--bordercolor);
  stroke-width: 60;
}
