.card__heading {
  color: var(--textcolor-heading2);
  border-bottom: solid 2px;
  text-align: center;
}

.card {
  border: solid #f07f7f 2px;
  border-radius: 15px;

  /* box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5); */
  background-color: var(--backgroundcolor);
  padding: 20px;
  margin: 20px;
  width: 80vw;
  display: grid;
}

.card__question {
  font-size: 1.2rem;
  text-align: center;
}

.tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.tags__tag1 {
  padding: 5px;
  border-radius: 15%;
  margin: 5px;
  border: solid lightcoral;
}

.tags__tag2 {
  padding: 5px;
  border-radius: 15%;
  margin: 5px;
  border: solid lightcoral;
}

.tags__tag3 {
  padding: 5px;
  border-radius: 15%;
  margin: 5px;
  border: solid lightcoral;
}

.tags__tag4 {
  padding: 5px;
  border-radius: 15%;
  margin: 5px;
  border: solid lightcoral;
}

.card__bookmark__container {
  position: relative;
}

.card__bookmark {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -15px;
  top: -33px;
  z-index: 1;
}

.card__show__container {
  display: flex;
  justify-content: center;
}

.card__button--show {
  width: 150px;
  margin: 1rem auto 0.5rem;
  padding: 0.5rem;
  font-family: 'Ubuntu Mono', monospace;
  font-weight: bold;
  border: solid 2px lightcoral;
  background-color: var(--backgroundcolor);
}
