.create__grid {
  display: grid;
  height: 100vh;
}
.create__card__main {
  display: grid;
  /* height: 100vh; */
  flex-direction: column;
  margin: 0 2rem 2rem;
  overflow-y: scroll;
}

.create__card__form {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0 0.5rem;
}

.create__card__submit-button {
  margin: 1rem auto 0.5rem;
  padding: 1rem 1.5rem;
  font-family: "Ubuntu Mono", monospace;
  font-weight: bold;
  border: solid 2px lightcoral;
  background-color: var(--background__color);
}

.create__textarea {
  width: 100%;
  height: 10rem;
  margin-bottom: 2rem;
  border: solid 2px lightcoral;
  background-color: var(--background__color);
  color: var(--text__color--2);
  text-align: center;
}
.create__textarea-tags {
  width: 100%;
  border: solid 2px lightcoral;
  background-color: var(--background__color);
}

.create__card__input-label {
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.5rem;
}

.create__card__nav {
  position: fixed;
  bottom: 0;
  width: 100%;
}
