nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--backgroundcolor);
  border: solid 2px lightcoral;
}

.nav__menuimg {
  height: 40px;
  width: 40px;
}
