* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.quizgrid {
  display: grid;
  grid-template-rows: 40px 1fr 65px;
  background-color: var(--backgroundcolor);
  height: 100vh;
  font-family: 'Ubuntu Mono', monospace;
}

.mainquiz {
  /* display: grid; */
  overflow-y: auto;
  place-content: center;
  padding: 20px;
}

.hidepage {
  display: none;
}
