* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.quizgrid {
  display: grid;
  background-color: var(--backgroundcolor);
  height: 100vh;
  font-family: 'Ubuntu Mono', monospace;
}

.mainquiz {
  display: grid;
  place-items: center;
  overflow-y: auto;
}

.hidepage {
  display: none;
}
