.header {
  background-color: var(--backround-color);
  display: grid;
  place-content: center;
  padding: 0.5rem;
  border-bottom: solid 2px var(--bordercolor);
}

.animation {
  animation-duration: 1s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
