.header {
  background-color: white;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__heading {
  color: var(--text__color--heading1);
  /* text-align: center; */
  margin: 0;
  padding: 0;
}
