:root {
  --background__color: #a3a39e;
  --background__color__card: #abb3b3;
  --text__color--1: #000000e0;
  --text__color--2: #000000;
  --text__color--heading1: rgb(39, 34, 36);
  --text__color--heading2: #040404e0;
}
